{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form id="reset_password" action="" method="post">
    {{ form.hidden_tag() }}
    <fieldset>
        {{ form.password.label }}
        {% if form.password.errors %}
        {{ form.password(aria_label="Password", aria_describedby="password-helper", aria_invalid="true") }}
        {% else %}
        {{ form.password(aria_label="Password", aria_describedby="password-helper password-strength") }}
        {% endif %}
        {% for error in form.password.errors %}
        <small id="password-helper">{{ error }}</small>
        {% endfor %}
        <small id="password-strength"></small>

        {{ form.password2.label }}
        {% if form.password2.errors %}
        {{ form.password2(aria_label="Password2", aria_describedby="password2-helper", aria_invalid="true") }}
        {% else %}
        {{ form.password2(aria_label="Password2", aria_describedby="password2-helper password-confirm") }}
        {% endif %}
        {% for error in form.password2.errors %}
        <small id="password2-helper">{{ error }}</small>
        {% endfor %}
        <small id="password-confirm"></small>
    </fieldset>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
