Flask==3.1.0
flask-cors==5.0.1
Flask-Limiter[redis]==3.12
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
python-dotenv==1.0.1
requests==2.32.3
waitress==3.0.2
ytmusicapi==1.10.1
yutipy==1.2.0
