aniso8601==9.0.1
async-timeout==4.0.3
blinker==1.8.2
cachelib==0.9.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Deprecated==1.2.14
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==5.0.0
Flask-Limiter==3.8.0
Flask-RESTful==0.3.10
idna==3.8
importlib_resources==6.4.4
itsdangerous==2.2.0
Jinja2==3.1.4
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.1
Pygments==2.18.0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.8
requests==2.32.3
rich==13.8.0
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
waitress==3.0.0
Werkzeug==3.0.4
wrapt==1.16.0
ytmusicapi==1.8.1
