{% extends "base.html" %}

{% block content %}
<main class="container">
  <form action="" method="post">
    {{ create_client_form.hidden_tag() }}
    <fieldset>
      {{ create_client_form.client_name.label }}
      {% if create_client_form.client_name.errors %}
      {{ create_client_form.client_name(autofocus="", aria_label="Client Name", aria_describedby="client-name-helper", aria_invalid="true") }}
      {% else %}
      {{ create_client_form.client_name(autofocus="", aria_label="Client Name", aria_describedby="client-name-helper") }}
      {% endif %}
      {% for error in create_client_form.client_name.errors %}
      <small id="client-name-helper">{{ error }}</small>
      {% endfor %}

      {{ create_client_form.client_description.label }}
      {% if create_client_form.client_description.errors %}
      {{ create_client_form.client_description(autofocus="", aria_label="Client Description", aria_describedby="client-description-helper", aria_invalid="true") }}
      {% else %}
      {{ create_client_form.client_description(autofocus="", aria_label="Client Description", aria_describedby="client-description-helper") }}
      {% endif %}
      {% for error in create_client_form.client_description.errors %}
      <small id="client-description-helper">{{ error }}</small>
      {% endfor %}

      {{ create_client_form.client_uri.label }}
      {% if create_client_form.client_uri.errors %}
      {{ create_client_form.client_uri(autofocus="", aria_label="Website", aria_describedby="website-helper", aria_invalid="true") }}
      {% else %}
      {{ create_client_form.client_uri(autofocus="", aria_label="Website", aria_describedby="website-helper") }}
      {% endif %}
      {% for error in create_client_form.client_uri.errors %}
      <small id="website-helper">{{ error }}</small>
      {% endfor %}

      <p>Redirect URIs</p>
      <div id="redirectURIs">
        {% for redirect_uri in create_client_form.redirect_uris.entries %}
        <div class="redirectURI">
          <span class="remove-redirect_uri"><i class="fa-solid fa-xmark"></i></span>
          {% if redirect_uri.form.redirect_uri.errors %}
          {{ redirect_uri.form.redirect_uri(autofocus="", aria_label="Redirect URI", aria_describedby="redirect-uri-helper redirect-uri-helper-two", aria_invalid="true") }}
          {% else %}
          {{ redirect_uri.form.redirect_uri(aria_label="Redirect URI", aria_describedby="redirect-uri-helper redirect-uri-helper-two") }}
          {% endif %}
          {% for error in redirect_uri.form.redirect_uri.errors %}
          <small id="redirect-uri-helper">{{ error }}</small>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <small class="invalid" id="redirect-uri-helper-two"></small>
      <input class="custom-inp-btn" id="add-redirect-uri" type="button" value="Add Another Redirect URI" disabled>
    </fieldset>
    {{ create_client_form.submit }}
  </form>
</main>
{% endblock %}
