{% set title = title|default('403 - FORBIDDEN') %}
{% extends "base.html" %}
{% block metadata %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ config['SERVICE'] }}: Home">
<meta property="og:description" content="It looks like you don't have permission to view this resource.">
<meta property="og:image" content="{{ url_for('static', filename='music.png', _external=true) }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ config['HOST_URL'] }}">
<meta name="twitter:title" content="{{ config['SERVICE'] }}: Home">
<meta name="twitter:description" content="It looks like you don't have permission to view this resource.">
<meta name="twitter:image" content="{{ url_for('static', filename='music.png', _external=true) }}">
{% endblock %}

{% block content %}
<main class="container">
    <div class="grid error-container">
        <img src="{{ url_for('static', filename='errors/403.gif') }}" alt="powerful-head-slap" width="403px">
        <div>
            <h1>{{ title }}</h1>
            <p>
                You don't have the permission to access the requested resource. It is either read-protected or not
                readable by the server.
            </p>
            <p>
                Why not go back <a href="{{ url_for('main.index') }}">Home</a>?
                Or if you think we have made some mistake, feel free to open an issue on Github
                <a href="https://github.com/CheapNightbot/yutify/issues">HERE</a>, or contact us at
                {% if current_user.is_authenticated %} <a
                    href="mailto:{{ config['SERVICE_EMAIL'] }}">{{ config["SERVICE_EMAIL"] }}</a>{% else %}
                <code>{{ config["SERVICE_EMAIL"] | obfuscate_email }}</code>{% endif %} !
            </p>
        </div>
    </div>
</main>
{% endblock content %}
