{% set title = title|default('Login') %}
{% extends "base.html" %}
{% from "security/_macros.html" import prop_next %}

{% block metadata %}
<meta property="og:url" content="https://yutify.onrender.com/login">
<meta property="og:type" content="website">
<meta property="og:title" content="yutify: Login">
<meta property="og:description" content="Simple RESTful API for retrieving music info for various steaming platforms.">
<meta property="og:image" content="https://yutify.onrender.com/static/music.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="yutify.onrender.com">
<meta property="twitter:url" content="https://yutify.onrender.com/login">
<meta name="twitter:title" content="yutify: Login">
<meta name="twitter:description" content="Simple RESTful API for retrieving music info for various steaming platforms.">
<meta name="twitter:image" content="https://yutify.onrender.com/static/music.png">
{% endblock %}

{% block nav_title %}
{{ title }}
{% endblock %}

{% block header %}
<h1 id="header-title">{{ title }}</h1>
{% endblock %}

{% block content %}
<main class="container">
<form action="{{ url_for_security('login') }}{{ prop_next() }}" method="post" name="login_user_form" id="login_user_form">
  {{ login_user_form.hidden_tag() }}
  <fieldset>
    {% if login_user_form.email and "email" in identity_attributes %}
    {{ login_user_form.email.label(value="Email") }}
    {% if login_user_form.email.errors %}
    {{ login_user_form.email(autofocus="", aria_label="Email", aria_describedby="email-helper", aria_invalid="true") }}
    {% else %}
    {{ login_user_form.email(autofocus="", aria_label="Email", aria_describedby="email-helper") }}
    {% endif %}
    {% for error in login_user_form.email.errors %}
    <small id="email-helper">{{ error }}</small>
    {% endfor %}
    {% endif %}

    {% if login_user_form.username and "username" in identity_attributes %}
    {{ login_user_form.username.label }}
    {% if login_user_form.username.errors %}
    {{ login_user_form.username(autofocus="", aria_label="Username", aria_describedby="username-helper", aria_invalid="true", required="") }}
    {% else %}
    {{ login_user_form.username(autofocus="", aria_label="Username", aria_describedby="username-helper", required="") }}
    {% endif %}
    {% for error in login_user_form.username.errors %}
    <small id="username-helper">{{ error }}</small>
    {% endfor %}
    {% endif %}

    {{ login_user_form.password.label }}
    {% if login_user_form.password.errors %}
    {{ login_user_form.password(aria_label="Password", aria_describedby="password-helper", aria_invalid="true", required="") }}
    {% else %}
    <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
    {{ login_user_form.password(aria_label="Password", aria_describedby="password-helper password-strength", required="") }}
    <small><a href="{{ url_for_security('forgot_password') }}">Forgot Password?</a></small>
    {% endif %}

    {% if login_user_form.password.errors %}
    <small id="password-helper">
    {% for error in login_user_form.password.errors %}
    {{ error }}
    {% endfor %}
    <br><a href="{{ url_for_security('forgot_password') }}">Forgot Password?</a>
    </small>
    {% endif %}

    {{ login_user_form.remember }} {{ login_user_form.remember.label }}
  </fieldset>
  {{ login_user_form.submit }}
</form>
<p>New User? <a href="{{ url_for_security('register') }}">Sign Up here!</a></p>
</main>
{% endblock content %}
