{% set title = title|default(_fsdomain("Select Two-Factor Method")) %}
{% extends "base.html" %}
{% from "security/_macros.html" import prop_next %}

{% block nav_title %}
{{ title }}
{% endblock %}

{% block header %}
<h1 id="header-title">{{ title }}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for_security('tf_select') }}{{ prop_next() }}" method="post" name="tf_select">
    {{ two_factor_select_form.hidden_tag() }}
    {{ render_field_with_errors(two_factor_select_form.which) }}
    {{ render_field(two_factor_select_form.submit) }}
  </form>
{% endblock content %}
