<section id="user-activity">
    {% if activity %}
    <div class="user-activity-header">
        {% if activity.activity_info.is_playing %}
        <h4>Currently Playing:</h4>
        {% else %}
        <h4>Last Played: <span id="timestamp">{{ activity.activity_info.timestamp | int | relative_timestamp }}</span></h4>
        {% endif %}
    </div>

    <article class="user-activity">
        {% if activity.music_info.album_art %}
        <img src="{{ activity.music_info.album_art }}" alt="{{ activity.music_info.title }} - Album Art" class="album-art">
        {% else %}
        <img src="{{ url_for('static', filename='favicon.svg') }}" alt="{{ activity.music_info.title }} - Album Art"
            class="album-art">
        {% endif %}
        <div class="user-music-info">
            <p class="music-info title">
                <span class="material-symbols-outlined">music_note</span>
                <span class="ellipsis">
                    {% if activity.music_info.title %}
                    {{ activity.music_info.title }}
                    {% else %}
                    Title
                    {% endif %}
                </span>
            </p>
            <p class="music-info album-title">
                <span class="material-symbols-outlined">album</span>
                <span class="ellipsis">
                    {% if activity.music_info.album_title %}
                    {{ activity.music_info.album_title }} ({{ activity.music_info.album_type }})
                    {% elif activity.music_info.title %}
                    {{ activity.music_info.title }} ({{ activity.music_info.album_type }})
                    {% else %}
                    Album Title (Album Type)
                    {% endif %}
                </span>
            </p>
            <p class="music-info artists">
                <span class="material-symbols-outlined">artist</span>
                <span class="ellipsis">
                    {% if activity.music_info.artists %}
                    {{ activity.music_info.artists }}
                    {% elif activity.music_info.title %}
                    Unknown
                    {% else %}
                    Artists
                    {% endif %}
                </span>
            </p>
            <p class="music-info genre">
                <span class="material-symbols-outlined">genres</span>
                <span class="ellipsis">
                    {% if activity.music_info.genre %}
                    {{ activity.music_info.genre }}
                    {% elif activity.music_info.title %}
                    Unknown
                    {% else %}
                    Genre
                    {% endif %}
                </span>
            </p>

            <div class="streaming-platforms-container">
                <div class="streaming-platforms">
                    <!-- Deezer Music -->
                    {% if activity.music_info.url.deezer %}
                    <a class="music-link" href="{{ activity.music_info.url.deezer }}" target="_blank" title="Deezer">
                    {% else %}
                    <a class="music-link" href="#deezer" title="Deezer">
                    {% endif %}
                    <img src="{{ url_for('static', filename='logos/deezer.svg') }}" alt="Deezer Logo" width="32px" height="32px">
                    </a>

                    <!-- iTunes Store -->
                    {% if activity.music_info.url.itunes %}
                    <a class="music-link" href="{{ activity.music_info.url.itunes }}" target="_blank" title="Apple Music">
                    {% else %}
                    <a class="music-link" href="#apple-music" title="Apple Music">
                    {% endif %}
                    <img src="{{ url_for('static', filename='logos/apple-music.svg') }}" alt="Apple Music Logo" width="32px" height="32px">
                    </a>

                    <!-- KKBOX -->
                    {% if activity.music_info.url.kkbox %}
                    <a class="music-link" href="{{ activity.music_info.url.kkbox }}" target="_blank" title="KKBOX">
                    {% else %}
                    <a class="music-link" href="#kkbox" title="KKBOX">
                    {% endif %}
                    <img src="{{ url_for('static', filename='logos/kkbox.svg') }}" alt="KKBOX Logo" width="32px" height="32px">
                    </a>

                    <!-- Spotify Music -->
                    {% if activity.music_info.url.spotify %}
                    <a class="music-link" href="{{ activity.music_info.url.spotify }}" target="_blank" title="Spotify">
                    {% else %}
                    <a class="music-link" href="#spotify" title="Spotify">
                    {% endif %}
                    <img src="{{ url_for('static', filename='logos/spotify.svg') }}" alt="Spotify Logo" width="32px" height="32px">

                    </a>

                    <!-- YouTube Music -->
                    {% if activity.music_info.url.ytmusic %}
                    <a class="music-link" href="{{ activity.music_info.url.ytmusic }}" target="_blank" title="YouTube Music">
                    {% else %}
                    <a class="music-link" href="#ytmusic" title="YouTube Music">
                    {% endif %}
                    <img src="{{ url_for('static', filename='logos/ytmusic.svg') }}" alt="YouTube Music Logo" width="32px" height="32px">
                    </a>
                </div>

                <div>
                    <button class="outline secondary" id="show-lyrics" data-target="lyrics"><span class="material-symbols-outlined">lyrics</span>Lyrics</button>
                </div>
        </div>
    </article>

    <dialog id="lyrics">
        <article>
            <header>
                <button id="close-lyrics" aria-label="Close" rel="prev" data-target="lyrics"></button>
                <p>
                    {% if activity.music_info.title %}
                    <strong>{{ activity.music_info.title }} ~ Lyrics:</strong>
                    {% else %}
                    <strong>{{ config["SERVICE"] }} ~ Lyrics:</strong>
                    {% endif %}
                </p>
            </header>
            <p>
                {% if activity.music_info.lyrics %}
                {{ activity.music_info.lyrics.replace('\r', '').replace('\n', '<br>') | safe }}
                {% else %}
                No lyrics found...
                {% endif %}
            </p>
        </article>
    </dialog>

    {% endif %}
</section>
