<section id="user-activity">
    {% if activity %}
    <div class="user-activity-header">
        {% if activity.activity_info.is_playing %}
        <h4>Currently Playing:</h4>
        {% else %}
        <h4>Last Played: <span id="timestamp">{{ activity.activity_info.timestamp | int | relative_timestamp }}</span></h4>
        {% endif %}
    </div>

    <article class="user-activity">
        {% if activity.music_info.album_art %}
        <img src="{{ activity.music_info.album_art }}" alt="{{ activity.music_info.title }} - Album Art" class="album-art">
        {% else %}
        <img src="{{ url_for('static', filename='favicon.svg') }}" alt="{{ activity.music_info.title }} - Album Art"
            class="album-art">
        {% endif %}
        <div class="user-music-info">
            <p class="music-info title">
                <span class="material-symbols-outlined">music_note</span>
                <span class="ellipsis">
                    {% if activity.music_info.title %}
                    {{ activity.music_info.title }}
                    {% else %}
                    Title
                    {% endif %}
                </span>
            </p>
            <p class="music-info album-title">
                <span class="material-symbols-outlined">album</span>
                <span class="ellipsis">
                    {% if activity.music_info.album_title %}
                    {{ activity.music_info.album_title }} ({{ activity.music_info.album_type }})
                    {% elif activity.music_info.title %}
                    {{ activity.music_info.title }} ({{ activity.music_info.album_type }})
                    {% else %}
                    Album Title (Album Type)
                    {% endif %}
                </span>
            </p>
            <p class="music-info artists">
                <span class="material-symbols-outlined">artist</span>
                <span class="ellipsis">
                    {% if activity.music_info.artists %}
                    {{ activity.music_info.artists }}
                    {% elif activity.music_info.title %}
                    Unknown
                    {% else %}
                    Artists
                    {% endif %}
                </span>
            </p>
            <p class="music-info genre">
                <span class="material-symbols-outlined">genres</span>
                <span class="ellipsis">
                    {% if activity.music_info.genre %}
                    {{ activity.music_info.genre }}
                    {% elif activity.music_info.title %}
                    Unknown
                    {% else %}
                    Genre
                    {% endif %}
                </span>
            </p>
        </div>
    </article>
    {% endif %}
</section>
