<section id="user-activity">
    {% if activity %}
    <div class="user-activity-header">
        {% if activity.is_playing %}
        <h4>Currently Playing:</h4>
        {% else %}
        <h4>Last Played:</h4>
        {% endif %}
    </div>

    <article class="user-activity">
        {% if activity.album_art %}
        <img src="{{ activity.album_art }}" alt="{{ activity.title }} - Album Art" class="album-art">
        {% else %}
        <img src="{{ url_for('static', filename='favicon.svg') }}" alt="{{ activity.title }} - Album Art"
            class="album-art">
        {% endif %}
        <div class="user-music-info">
            <p class="music-info" style="font-size: 1.2rem;">
                <span class="material-symbols-outlined">music_note</span>
                <span class="ellipsis">
                    {% if activity.title %}
                    {{ activity.title }}
                    {% else %}
                    Title
                    {% endif %}
                </span>
            </p>
            <p class="music-info" style="font-size: 1.125rem;">
                <span class="material-symbols-outlined">album</span>
                <span class="ellipsis">
                    {% if activity.album_title %}
                    {{ activity.album_title }} ({{ activity.album_type }})
                    {% elif activity.title %}
                    {{ activity.title }} ({{ activity.album_type }})
                    {% else %}
                    Album Title (Album Type)
                    {% endif %}
                </span>
            </p>
            <p class="music-info" style="font-size: 1.25rem; ">
                <span class="material-symbols-outlined">artist</span>
                <span class="ellipsis">
                    {% if activity.artists %}
                    {{ activity.artists }}
                    {% elif activity.title %}
                    Unknown
                    {% else %}
                    Artists
                    {% endif %}
                </span>
            </p>
            <p class="music-info" style="font-size: 1rem;">
                <span class="material-symbols-outlined">genres</span>
                <span class="ellipsis">
                    {% if activity.genre %}
                    {{ activity.genre }}
                    {% elif activity.title %}
                    Unknown
                    {% else %}
                    Genre
                    {% endif %}
                </span>
            </p>
        </div>
    </article>
    {% endif %}
</section>
