{% set title = title|default('Settings') %}
{% extends "base.html" %}

{% block nav_title %}
{{ title }}
{% endblock %}

{% block header %}
<header class="container">
    <h1 id="header-title">{{ title }}</h1>
</header>
{% endblock %}

{% block content %}
<main class="container">

    <form action="" method="post" name="username_form">
        {{ username_form.csrf_token(id="csrf_token_username") }}
        {{ username_form.form_name(id="change_username", value="change_username") }}
        <label for="username">Username</label>
        <fieldset role="group">
            <input id="username" type="text" value="{{ user.username }}" readonly>
            <input type="submit" class="edit-btn" value="Change">
        </fieldset>
    </form>

    <form action="" method="post" name="email_form">
        {{ email_form.csrf_token(id="csrf_token_email") }}
        {{ email_form.form_name(id="change_email", value="change_email") }}
        <label for="email">Email</label>
        <fieldset role="group">
            <input id="email" type="text"
                value="{{ user.email | mask_string(mask='*', mask_special_char=True, mask_from_char='@', exclude_bounds=True) }}"
                readonly>
            <input type="submit" class="edit-btn" value="Change">
        </fieldset>
    </form>

    <h3>Services:</h3>
    {% if services %}
    {% for service in services %}
    <article class="service-item">
        <div class="service-info">
            <a href="{{ service.url }}" rel="noopener noreferrer" target="_blank">
                <img class="service-logo"
                    src="{{ url_for('static', filename='logos/' + service.name.lower() + '.svg') }}"
                    alt="{{ service.name }} Logo">
            </a>
            <div>
                <strong>{{ service.name }}</strong>
                {% if service.id in connected_services %}
                {% for user_service in user.user_services %}
                {% if service.id == user_service.service_id %}
                <p class="status connected">Linked: <a href="{{ user_service.profile_url }}" rel="noopener noreferrer"
                        target="_blank">{{ user_service.username }}</a></p>
                {% endif %}
                {% endfor %}

                {% else %}
                <p class="status not-connected">Not Linked</p>
                {% endif %}
            </div>
        </div>
        <div class="service-action">
            {% if service.id in connected_services %}
            <!-- Unlink Form -->
            <form action="{{ url_for('auth_services.unlink', service=service.name.lower()) }}" method="post">
                {{ service_action_form.csrf_token(id="csrf_token_unlink_" +  service.name.lower() ) }}
                <button type="submit" class="secondary unlink">Unlink</button>
            </form>
            {% else %}
            <!-- Link Form -->
            <form action="{{ url_for('auth_services.service', service=service.name.lower()) }}" method="post">
                {{ service_action_form.csrf_token(id="csrf_token_link_" +  service.name.lower() ) }}
                <button type="submit" class="primary link" {% if service.name.lower()=='lastfm' %} data-service="lastfm"
                    data-target="lastfm-link-modal" {% endif %}>Link</button>
            </form>
            {% endif %}
        </div>
    </article>
    {% endfor %}
    {% else %}
    <article class="service-item">
        <p class="text-in-article">No services are available...</p>
    </article>
    {% endif %}

    <h3>Privacy & Security:</h3>

    <article class="service-item">
        {% if user.tf_primary_method %}
        <div class="service-info">
            <div>
                <i class="fa-solid fa-shield-halved"></i>
                <span>Two-Factor Authentication: <span class="status connected">Enabled</span></span>
            </div>
        </div>
        <div class="service-action">
            <a href="{{ url_for_security('two_factor_setup') }}">Manage</a>
        </div>
        {% else %}
        <div class="service-info">
            <div>
                <i class="fa-solid fa-shield-halved"></i>
                <span>Two-Factor Authentication: <span class="status not-connected">Disabled</span></span>
            </div>
        </div>
        <div class="service-action">
            <a href="{{ url_for_security('two_factor_setup') }}">Manage</a>
        </div>
        {% endif %}
    </article>

    <article class="service-item">
        {% if authorized_apps|length > 0 %}
        <div class="service-info">
            <div>
                <i class="fa-solid fa-shield-halved"></i>
                <span>Authorized Apps: <span class="status connected">{{ authorized_apps|length }}</span></span>
            </div>
        </div>
        <div class="service-action">
            <a href="{{ url_for('user.authorized_apps_overview', username=user.username) }}">Manage</a>
        </div>
        {% else %}
        <div class="service-info">
            <div>
                <i class="fa-solid fa-shield-halved"></i>
                <span>Authorized Apps: <span class="status not-connected">{{ authorized_apps|length }}</span></span>
            </div>
        </div>
        <div class="service-action">
            <a href="{{ url_for('user.authorized_apps_overview', username=user.username) }}">Manage</a>
        </div>
        {% endif %}
    </article>

    <div class="grid margin-btm">
        <a role="button" class="custom-btn" href="{{ url_for_security('change_password') }}">Change Password</a>
        <button id="show-account-del" class="secondary delete-account" data-target="delete-account-modal">Delete
            Account</button>
    </div>

    {% if services %}
    {% for service in services %}
    {% if service.id not in connected_services and service.name.lower() == 'lastfm' %}
    <dialog id="lastfm-link-modal">
        <article>
            <header>
                <h3>Link Last.fm</h3>
                <button id="close-lastfm-modal" aria-label="Close" class="close"
                    data-target="lastfm-link-modal"></button>
            </header>
            <form action="{{ url_for('auth_services.service', service='lastfm') }}" method="post">
                {{ lastfm_link_form.csrf_token(id="csrf_token_lastfm") }}
                <fieldset>
                    {{ lastfm_link_form.lastfm_username.label }}
                    {{ lastfm_link_form.lastfm_username(placeholder="Enter your Last.fm username", autofocus="") }}
                </fieldset>
                {{ lastfm_link_form.submit(id="link_lastfm") }}
            </form>
        </article>
    </dialog>
    {% endif %}
    {% endfor %}
    {% endif %}

    <dialog id="delete-account-modal">
        <article>
            <header>
                <h3>Confirm Account Deletion</h3>
            </header>
            <p>To delete your account, please enter your password below:</p>
            <form action="" method="post">
                {{ delete_account_form.csrf_token(id="csrf_token_account_del") }}
                {{ delete_account_form.password.label }}
                {% if delete_account_form.password.errors %}
                {{ delete_account_form.password(aria_label="Password", aria_describedby="password-helper", aria_invalid="true") }}
                {% else %}
                {{ delete_account_form.password(aria_label="Password", aria_describedby="password-helper password-strength") }}
                {% endif %}
                {% for error in delete_account_form.password.errors %}
                <small id="password-helper">{{ error }}</small>
                {% endfor %}
                <footer role="group">
                    {{ delete_account_form.submit(id="delete_account", class="secondary delete-account") }}
                    <button id="close-account-del" type="button" data-target="delete-account-modal">Cancel</button>
                </footer>
            </form>
        </article>
    </dialog>

</main>
{% endblock %}
