{% extends "base.html" %}
{% block metadata %}
<meta property="og:url" content="https://yutify.onrender.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="yutify: Account">
<meta property="og:description" content="Simple RESTful API for retrieving music info for various steaming platforms.">
<meta property="og:image" content="https://yutify.onrender.com/static/music.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="yutify.onrender.com">
<meta property="twitter:url" content="https://yutify.onrender.com/">
<meta name="twitter:title" content="yutify: Profile">
<meta name="twitter:description" content="Simple RESTful API for retrieving music info for various steaming platforms.">
<meta name="twitter:image" content="https://yutify.onrender.com/static/music.png">
{% endblock %}

{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}

<form action="" method="post">
    {{ form.csrf_token }}
    {% if form.__class__.__name__ == "EmptyForm" %}
    <fieldset>
        <label>
            Username
            <input type="text" name="username" placeholder="{{ user.username }}" aria-label="Read-only Username"
                readonly />
        </label>

        <label>
            Email
            <input type="email" name="email"
                placeholder="{{ user.email | mask_string(mask='*', mask_special_char=True, mask_from_char='@', exclude_bounds=True) }}"
                aria-label="Read-only Email" readonly />
        </label>

    </fieldset>
    {{ form.submit(value="Edit Account Details") }}
    {% else %}
    {{ form.username.label }}
    {% if form.username.errors %}
    {{ form.username(aria_label="Username", aria_describedby="username-helper", aria_invalid="true") }}
    {% else %}
    {{ form.username(value=user.username, aria_label="Username", aria_describedby="username-helper") }}
    {% endif %}
    {% for error in form.username.errors %}
    <small id="username-helper">{{ error }}</small>
    {% endfor %}
    {{ form.email.label }}
    {% if form.email.errors %}
    {{ form.email(aria_label="Email", aria_describedby="email-helper", aria_invalid="true") }}
    {% else %}
    {{ form.email(value=user.email, aria_label="Email", aria_describedby="email-helper") }}
    {% endif %}
    {% for error in form.email.errors %}
    <small id="email-helper">{{ error }}</small>
    {% endfor %}
    {{ form.password.label }}
    {% if form.password.errors %}
    {{ form.password(aria_label="Password", aria_describedby="password-helper", aria_invalid="true") }}
    {% else %}
    {{ form.password(aria_label="Password", aria_describedby="password-helper password-strength") }}
    {% endif %}
    {% for error in form.password.errors %}
    <small id="password-helper">{{ error }}</small>
    {% endfor %}
    {{ form.submit() }}
    <a role="button" class="secondary custom-btn"
        href="{{ url_for('user.user_settings', username=current_user.username) }}">
        Cancel
    </a>
    {% endif %}

</form>


{% if form.__class__.__name__ == "EmptyForm" %}
<button id="show-account-del" class="secondary delete-account" data-target="delete-account-modal">Delete
    Account</button>
{% endif %}

{% if form.__class__.__name__ == "EmptyForm" %}
<h3>Services:</h3>
{% if services %}
{% for service in services %}
<article class="service-item">
    <div class="service-info">
        <a href="{{ service.service_url }}" rel="noopener noreferrer" target="_blank">
            <img class="service-logo"
                src="{{ url_for('static', filename='logos/' + service.service_name.lower() + '.svg') }}"
                alt="{{ service.service_name }} Logo">
        </a>
        <div>
            <strong>{{ service.service_name }}</strong>
            {% if service.service_id in connected_services %}
            {% for user_service in user.user_services %}
            {% if service.service_id == user_service.service_id %}
            <p class="status connected">Linked: <a href="{{ user_service.profile_url }}" rel="noopener noreferrer"
                    target="_blank">{{ user_service.username }}</a></p>
            {% endif %}
            {% endfor %}

            {% else %}
            <p class="status not-connected">Not Linked</p>
            {% endif %}
        </div>
    </div>
    <div class="service-action">
        {% if service.service_id in connected_services %}
        <!-- Unlink Form -->
        <form action="{{ url_for('auth_services.unlink', service=service.service_name.lower()) }}" method="post">
            {{ form.csrf_token(id="csrf_token_unlink_" +  service.service_name.lower() ) }}
            <button type="submit" class="secondary unlink">Unlink</button>
        </form>
        {% else %}
        <!-- Link Form -->
        <form action="{{ url_for('auth_services.service', service=service.service_name.lower()) }}" method="post">
            {{ form.csrf_token(id="csrf_token_link_" +  service.service_name.lower() ) }}
            <button type="submit" class="primary link" {% if service.service_name.lower()=='lastfm' %}
                data-service="lastfm" data-target="lastfm-link-modal" {% endif %}>Link</button>
        </form>
        {% endif %}
    </div>
</article>
{% endfor %}
{% else %}
<article class="service-item">
    <p style="padding: 1rem 0 0 1rem;">No services available.</p>
</article>
{% endif %}
{% endif %}

{% if services %}
{% for service in services %}
{% if service.service_id not in connected_services and service.service_name.lower() == 'lastfm' %}
<dialog id="lastfm-link-modal">
    <article>
        <header>
            <h3>Link Last.fm</h3>
            <button id="close-lastfm-modal" aria-label="Close" class="close" data-target="lastfm-link-modal"></button>
        </header>
        <form action="{{ url_for('auth_services.service', service='lastfm') }}" method="post">
            {{ lastfm_link_form.csrf_token(id="csrf_token_lastfm") }}
            <fieldset>
                {{ lastfm_link_form.lastfm_username.label }}
                {{ lastfm_link_form.lastfm_username(placeholder="Enter your Last.fm username", autofocus="") }}
            </fieldset>
            {{ lastfm_link_form.submit() }}
        </form>
    </article>
</dialog>
{% endif %}
{% endfor %}
{% endif %}

{% if form.__class__.__name__ == "EmptyForm" %}
<dialog id="delete-account-modal">
    <article>
        <header>
            <h3>Confirm Account Deletion</h3>
        </header>
        <p>To delete your account, please enter your password below:</p>
        <form action="" method="post">
            {{ delete_account_form.csrf_token(id="csrf_token_account_del") }}
            {{ delete_account_form.password.label }}
            {% if delete_account_form.password.errors %}
            {{ delete_account_form.password(aria_label="Password", aria_describedby="password-helper", aria_invalid="true") }}
            {% else %}
            {{ delete_account_form.password(aria_label="Password", aria_describedby="password-helper password-strength") }}
            {% endif %}
            {% for error in delete_account_form.password.errors %}
            <small id="password-helper">{{ error }}</small>
            {% endfor %}
            <footer role="group">
                {{ delete_account_form.submit(id="delete_account", class="secondary delete-account") }}
                <button id="close-account-del" type="button" data-target="delete-account-modal">Cancel</button>
            </footer>
        </form>
    </article>
</dialog>
{% endif %}

{% endblock %}
