{% set title = title|default('Settings') %}
{% extends "base.html" %}

{% block nav_title %}
{{ title }}
{% endblock %}

{% block header %}
<h1 id="header-title">{{ title }}</h1>
{% endblock %}

{% block content %}
<main class="container">
    <form action="{{ url_for_security('change_username') }}" method="post" name="change_username_form">
        {{ change_username_form.hidden_tag() }}
        {{ change_username_form.username.label }}
        <fieldset role="group">
            {{ change_username_form.username(value=user.username, readonly="") }}
            <input type="button" class="edit-btn" value="Change">
            {{ change_username_form.submit(value="Save", class="save-btn") }}
        </fieldset>
    </form>


    <button id="show-account-del" class="secondary delete-account" data-target="delete-account-modal">Delete
        Account</button>

    <h3>Services:</h3>
    {% if services %}
    {% for service in services %}
    <article class="service-item">
        <div class="service-info">
            <a href="{{ service.url }}" rel="noopener noreferrer" target="_blank">
                <img class="service-logo"
                    src="{{ url_for('static', filename='logos/' + service.name.lower() + '.svg') }}"
                    alt="{{ service.name }} Logo">
            </a>
            <div>
                <strong>{{ service.name }}</strong>
                {% if service.id in connected_services %}
                {% for user_service in user.user_services %}
                {% if service.id == user_service.service_id %}
                <p class="status connected">Linked: <a href="{{ user_service.profile_url }}" rel="noopener noreferrer"
                        target="_blank">{{ user_service.username }}</a></p>
                {% endif %}
                {% endfor %}

                {% else %}
                <p class="status not-connected">Not Linked</p>
                {% endif %}
            </div>
        </div>
        <div class="service-action">
            {% if service.id in connected_services %}
            <!-- Unlink Form -->
            <form action="{{ url_for('auth_services.unlink', service=service.name.lower()) }}" method="post">
                {{ service_action_form.csrf_token(id="csrf_token_unlink_" +  service.name.lower() ) }}
                <button type="submit" class="secondary unlink">Unlink</button>
            </form>
            {% else %}
            <!-- Link Form -->
            <form action="{{ url_for('auth_services.service', service=service.name.lower()) }}" method="post">
                {{ service_action_form.csrf_token(id="csrf_token_link_" +  service.name.lower() ) }}
                <button type="submit" class="primary link" {% if service.name.lower()=='lastfm' %} data-service="lastfm"
                    data-target="lastfm-link-modal" {% endif %}>Link</button>
            </form>
            {% endif %}
        </div>
    </article>
    {% endfor %}
    {% else %}
    <article class="service-item">
        <p class="text-in-article">No services are available...</p>
    </article>
    {% endif %}


    {% if services %}
    {% for service in services %}
    {% if service.id not in connected_services and service.name.lower() == 'lastfm' %}
    <dialog id="lastfm-link-modal">
        <article>
            <header>
                <h3>Link Last.fm</h3>
                <button id="close-lastfm-modal" aria-label="Close" class="close"
                    data-target="lastfm-link-modal"></button>
            </header>
            <form action="{{ url_for('auth_services.service', service='lastfm') }}" method="post">
                {{ lastfm_link_form.csrf_token(id="csrf_token_lastfm") }}
                <fieldset>
                    {{ lastfm_link_form.lastfm_username.label }}
                    {{ lastfm_link_form.lastfm_username(placeholder="Enter your Last.fm username", autofocus="") }}
                </fieldset>
                {{ lastfm_link_form.submit(id="link_lastfm") }}
            </form>
        </article>
    </dialog>
    {% endif %}
    {% endfor %}
    {% endif %}


    <dialog id="delete-account-modal">
        <article>
            <header>
                <h3>Confirm Account Deletion</h3>
            </header>
            <p>To delete your account, please enter your password below:</p>
            <form action="" method="post">
                {{ delete_account_form.csrf_token(id="csrf_token_account_del") }}
                {{ delete_account_form.password.label }}
                {% if delete_account_form.password.errors %}
                {{ delete_account_form.password(aria_label="Password", aria_describedby="password-helper", aria_invalid="true") }}
                {% else %}
                {{ delete_account_form.password(aria_label="Password", aria_describedby="password-helper password-strength") }}
                {% endif %}
                {% for error in delete_account_form.password.errors %}
                <small id="password-helper">{{ error }}</small>
                {% endfor %}
                <footer role="group">
                    {{ delete_account_form.submit(id="delete_account", class="secondary delete-account") }}
                    <button id="close-account-del" type="button" data-target="delete-account-modal">Cancel</button>
                </footer>
            </form>
        </article>
    </dialog>

</main>
{% endblock %}
