{% set title = title|default('Manage Users') %}
{% extends "admin/base.html" %}

{% block nav_title %}
{{ title }}
{% endblock %}

{% block main %}
<main class="container-fluid">
    <div class="overflow-auto">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>2FA</th>
                    <th>Registered</th>
                    <th></th>
                </tr>
            </thead>

            {% if users %}
            <tbody>
                {% for user in users %}
                {% set form = "manage_user_account_form_" + user.id | string %}
                <form action="" method="post" name="manage_user_account_form" id="{{ form }}">
                    {{ manage_user_account_form.csrf_token }}
                    {{ manage_user_account_form.user_id(value=user.id) }}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <span data-tooltip="{{ 'Verified' if user.confirmed_at else 'Unverified' }}">
                                {{ user.email | mask_string(mask='*', mask_special_char=True, mask_till_char='@', exclude_bounds=True) }}
                            </span>
                        </td>
                        <td>
                            <ul id="roles">
                                {% for field_name, value in manage_user_account_form.data.items() %}
                                {% if field_name == 'roles' %}
                                {% for role in manage_user_account_form[field_name] %}
                                <li>
                                    <label>
                                        {{ role(id=role.data + user.id | string, checked=user.has_role(role.data), disabled='', form=form) }}
                                        {{ role.data }}
                                    </label>
                                </li>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        {% if user.tf_primary_method %}
                        <td>
                            {{ manage_user_account_form.reset_tf(id="reset_tf" + user.id | string, form=form, disabled="") }}
                            {{ manage_user_account_form.reset_tf.label(for="reset_tf" + user.id | string) }}
                        </td>
                        {% else %}
                        <td>Disabled</td>
                        {% endif %}
                        <td>
                            <span class="datetime">{{ user.create_datetime }}</span>
                        </td>
                        <td class="flex-column">
                            <input type="button" class="edit-btn" value="Edit">
                            {{ manage_user_account_form.edit_user(class="save-btn", form=form) }}
                            <input type="button" class="secondary cancel-btn" value="Cancel">
                            <input type="button" class="secondary delete-btn" value="Delete"
                                data-target="{{ 'delete-user-modal' + user.id | string }}">
                        </td>
                    </tr>
                    <dialog id="{{ 'delete-user-modal' + user.id | string }}">
                        <article>
                            <header>
                                <h3>Delete User "{{ user.name }}" Account</h3>
                            </header>
                            <fieldset>
                                {{ manage_user_account_form.notify_deletion(id="notify_deletion" + user.id | string, form=form) }}
                                {{ manage_user_account_form.notify_deletion.label(for="notify_deletion" + user.id | string, class="margin-btm") }}
                                {{ manage_user_account_form.reason_for_deletion(placeholder="Reason for deleting account...", form=form, disabled="") }}
                                {{ manage_user_account_form.delete_user(class="delete-user-account", form=form) }}
                            </fieldset>
                        </article>
                    </dialog>
                </form>
                {% endfor %}
            </tbody>
            {% else %}
            <tfoot>
                <tr>
                    <td>No users found..</td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
</main>
{% endblock %}
