* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    color: #dfebfc;
    font-family: "yrsa", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin: 0;
}

h1 {
    font-family: "yrsa", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    background: linear-gradient(45deg, #a7caff 0%, #eeeeee 100%);
    background-clip: text;
    color: transparent;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 4s ease-in-out infinite;
}

#github:hover .rotate {
    animation: none;
}

.button,
.button:visited {
    text-decoration: none;
    color: inherit;
    border: 1px #a7caff solid;
    padding: 12px 20px;
    border-radius: .369rem;
}

.button:hover {
    background-color: #a7caff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 16px #a7caff;
}

a,
a:visited {
    color: #a7caff;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 30%;
    padding-right: 30%;
    flex: 1;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
    color: inherit;
    border: 1px #a7caff solid;
    padding: 0.5rem 1rem;
    border-radius: .369rem;
    font-size: 1rem;
    width: 100%;
    background: transparent;
}

input:focus {
    box-shadow: 0px 0px 6px 0px #a7caff;
}

#second-row {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

button {
    color: inherit;
    border: 1px #a7caff solid;
    padding: 0.6rem 1.6rem;
    border-radius: .369rem;
    margin-left: 0.2rem;
    background: transparent;
}

#github {
    padding: 0.4rem 1rem;
}

.music-link {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
}

.music-link img {
    max-width: 100%;
    max-height: 100%;
}

.music-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px 3px #a7caff;
    cursor: pointer;
}

button:hover {
    background-color: #a7caff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 16px #a7caff;
    cursor: pointer;
}

.result {
    width: 100%;
    height: 40vh;
    border: 1px #a7caff solid;
    padding: 0.6rem 1rem;
    border-radius: .369rem;
    margin-left: 0.2rem;
    background: transparent;
}

.result-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    overflow: hidden;
}

.scroll-me {
    overflow: auto;
    height: 36vh;
    padding-top: 1em;
}

.scroll-me::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-me::-webkit-scrollbar-thumb {
    background-color: #a7caff;
    border-radius: 5px;
}

.scroll-me::-webkit-scrollbar-track,
.scroll-me::-webkit-scrollbar-corner {
    background: transparent;
}


.var {
    color: #a7caff;
}

#endpoint {
    height: 5.5vh;
}

#not-found {
    height: 12vh;
}

#docs {
    align-items: flex-start;
}

.album-art {
    height: 33vh;
    width: 28vh;
    padding: 0%;
}

@media (max-width: 1260px) {
    main {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 960px) {
    .result-container {
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 768px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
