body {
    min-height: 100dvh;
}

nav, nav ul {
    gap: 2rem;
}

nav {
    margin-top: 1rem;
}

nav a {
    font-size: 1.2rem;
}

header {
    text-align: center;
}

#brand {
    font-size: clamp(6rem, 10vw, 6rem);
    background: linear-gradient(45deg, #a7caff 0%, #eeeeee 100%);
    background-clip: text;
    color: transparent;
    padding-bottom: 0.5rem;
}

a,
a:visited {
    color: #a7caff;
    text-decoration: none;
}

a:active {
    color: #4d94ff;
}

.active {
    border-bottom: 1px solid;
    transition: all 0.3s;
}

.active:hover {
    color: transparent;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 4s ease-in-out infinite;
}

#github:hover .rotate {
    animation: none;
}

.var {
    color: #a7caff;
}

.result-container {
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.album-art {
    width: max(8rem, min(28vw, 18rem));
    height: max(10rem, min(33vw, 20rem));
    border: 1px solid;
    border-radius: .746rem;
}

.streaming-platforms {
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .result-container {
        flex-direction: column;
        justify-content: center;
    }
}
