<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple RESTful API (wrapper) for retrieving music info for various steaming platforms.">
    <meta name="author" content="Cheap Nightbot">
    <meta name="keywords" content="yutify, music, rest-api, api, python, flask, free-api, Cheap Nighbot">
    {% block metadata %}{% endblock %}
    <title>yutify: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.typekit.net/mgf5eji.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>

<body>
    <header>
        <div id="nav-bar">
            <section class="nav">
                <a class="button" href="/">Home</a>
                <a class="button" href="/docs" title="API Docs">Docs</a>
            </section>
            <section class="nav">
                <a class="button" id="github" href="https://github.com/CheapNightbot/yutify/" title="Souce Code"
                    target="_blank">
                    <img src="{{ url_for('static', filename='github.svg') }}" alt="github logo" class="rotate"
                        style="height:26px;">
                </a>
            </section>
        </div>
        <section id="head">
            <h1>yutify</h1>
            <p>Simple RESTful API (wrapper) for retrieving music info for various steaming platforms.</p>
        </section>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Cheap Nightbot | All Rights Reserved | &lpar;〃￣ω￣〃ゞ</p>
    </footer>
</body>

</html>
