{% extends "base.html" %}
{% block title %}Docs{% endblock %}
{% block content %}
<section class="content" id="docs">
    <h2>API Endpoint:</h2>
    <section class="result" id="endpoint" style="font-size: large;">
        <code>
            /api/<span class="var">artist</span>:<span class="var">song</span>
        </code>
    </section>
    <p style="font-size:medium;">&rbarr; Check example usage using Python & JavaScritp on <a
            href="https://github.com/CheapNightbot/yutify/tree/main/examples" id="example" target="_blank">GitHub</a>.
    </p>
    <h2>Response Example:</h2>
    <code style="font-size: large;">
        /api/<span class="var">Rick Astley</span>:<span class="var">Never Gonna Give You Up</span>
    </code>
    <section class="result scroll-me">
        <pre style="font-size: large;">
{
    'album_art': 'https://i.scdn.co/image/ab67616d0000b27315ebbedaacef61af244262a8',
    'album_title': None,
    'album_type': 'album',
    'artists': 'Rick Astley',
    'spotify': 'https://open.spotify.com/track/4PTG3Z6ehGkBFwjybzWkR8',
    'title': 'Never Gonna Give You Up',
    'ytmusic': {
        'id': 'dQw4w9WgXcQ',
        'url': 'https://music.youtube.com/watch?v=dQw4w9WgXcQ'
    }
}
        </pre>
    </section>
</section>
{% endblock %}
