{% extends "base.html" %}
{% block metadata %}
    <meta property="og:url" content="https://yutify.onrender.com/docs">
    <meta property="og:type" content="website">
    <meta property="og:title" content="yutify: Docs">
    <meta property="og:description" content="Read the docs for yutify, simple RESTful API (wrapper) for retrieving music info for various steaming platforms.">
    <meta property="og:image" content="https://yutify.onrender.com/static/music.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="yutify.onrender.com">
    <meta property="twitter:url" content="https://yutify.onrender.com/docs">
    <meta name="twitter:title" content="yutify: Docs">
    <meta name="twitter:description" content="Read the docs for yutify, simple RESTful API (wrapper) for retrieving music info for various steaming platforms.">
    <meta name="twitter:image" content="https://yutify.onrender.com/static/music.png">
{% endblock %}
{% block title %}Docs{% endblock %}
{% block content %}
<section class="content" id="docs">
    <h2>&sext; API Endpoint:</h2>
    <section class="result" id="endpoint" style="font-size: large;">
        <code>
            /api/<span class="var">artist</span>:<span class="var">song</span>
        </code>
    </section>
    <p style="font-size:medium;">
        &rbarr; Do NOT overlook the colon (:) in between the artist name & song name.<br>
        &rbarr; <strong>You can only make 60 requests per minute. PLEASE DO NOT ABUSE THE API.</strong><br>
        &rbarr; Check example usage using Python & JavaScript on <a
            href="https://github.com/CheapNightbot/yutify/tree/main/examples" id="example" target="_blank">GitHub</a>.
    </p>
    <h2>&sext; Response Examples:</h2>
    <code style="font-size: large;">
        /api/<span class="var">Rick Astley</span>:<span class="var">Never Gonna Give You Up</span>
    </code>
    <p><b>Status Code</b>: <span style="color: lightgreen;">200 OK</span>:</p>
    <section class="result scroll-me">
<pre style="font-size: large;">
{
    '<b class="var">album_art</b>': 'https://i.scdn.co/image/ab67616d0000b27315ebbedaacef61af244262a8',
    '<b class="var">album_title</b>': 'Whenever You Need Somebody',
    '<b class="var">album_type</b>': 'album',
    '<b class="var">artists</b>': 'Rick Astley',
    '<b class="var">deezer</b>': "https://www.deezer.com/track/781592622",
    '<b class="var">spotify</b>': 'https://open.spotify.com/track/4PTG3Z6ehGkBFwjybzWkR8',
    '<b class="var">title</b>': 'Never Gonna Give You Up',
    '<b class="var">ytmusic</b>': {
        '<b class="var">id</b>': 'dQw4w9WgXcQ',
        '<b class="var">url</b>': 'https://music.youtube.com/watch?v=dQw4w9WgXcQ'
    }
}
</pre>
    </section>
    <p><b>Status Code</b>: <span style="color: lightcoral;">404 NOT FOUND</span>:</p>
    <section class="result scroll-me" id="not-found">
<pre style="font-size: large;">
{
    '<b class="var">error</b>': "Couldn't find 'Song' by 'Artist'"
}
</pre>
    </section>
</section>
{% endblock %}
