{% extends "base.html" %}
{% block metadata %}
<meta property="og:url" content="https://yutify.onrender.com/docs">
<meta property="og:type" content="website">
<meta property="og:title" content="yutify: Docs">
<meta property="og:description"
    content="Read the docs for yutify, simple RESTful API for retrieving music info for various steaming platforms.">
<meta property="og:image" content="https://yutify.onrender.com/static/music.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="yutify.onrender.com">
<meta property="twitter:url" content="https://yutify.onrender.com/docs">
<meta name="twitter:title" content="yutify: Docs">
<meta name="twitter:description"
    content="Read the docs for yutify, simple RESTful API for retrieving music info for various steaming platforms.">
<meta name="twitter:image" content="https://yutify.onrender.com/static/music.png">
{% endblock %}
{% block title %}Docs{% endblock %}
{% block content %}
<h2>Endpoint</h2>
<p>
    <strong>URL:</strong> <code>/api/{artist}:{song}</code><br>
    <strong>Method:</strong> <code>GET</code><br>
    <strong>Description:</strong> Retrieves music information for a specific artist and song. Replace
    <code>{artist}</code> and <code>{song}</code> with the actual artist and song name, respectively.
</p>

<h4>Query Parameters</h4>
<ul>
    <li>
        <strong><code>platform</code> (optional):</strong> Filters the music information by a specific platform.
        Possible values: <code>deezer</code>, <code>itunes</code>, <code>spotify</code>, <code>ytmusic</code>. If not
        provided, all available platform information is returned.
        <ul>
            <li><strong>Example:</strong> <code>/api/{artist}:{song}?spotify</code></li>
        </ul>
    </li>
</ul>
<h2>Response</h2>
<p>
    <strong>Status Code:</strong> <code>200 OK</code><br>
    <strong>Body:</strong> JSON object containing the following fields:
</p>

<h4>Schema</h4>
<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>album_art</code> (string)</td>
            <td>URL to the album art.</td>
        </tr>
        <tr>
            <td><code>album_title</code> (string)</td>
            <td>Title of the album.</td>
        </tr>
        <tr>
            <td><code>album_type</code> (string)</td>
            <td>Type of the album (e.g., "single", "album").</td>
        </tr>
        <tr>
            <td><code>artists</code> (string)</td>
            <td>Name of the artist(s).</td>
        </tr>
        <tr>
            <td><code>deezer</code> (string | null)</td>
            <td>URL to the track on Deezer, or <code>null</code> if not available.</td>
        </tr>
        <tr>
            <td><code>genre</code> (string | null)</td>
            <td>Genre of the music, or <code>null</code>.</td>
        </tr>
        <tr>
            <td><code>itunes</code> (string | null)</td>
            <td>URL to the track on iTunes, or <code>null</code> if not available.</td>
        </tr>
        <tr>
            <td><code>lyrics</code> (string | null)</td>
            <td>Lyrics of the song, or <code>null</code> if not available.</td>
        </tr>
        <tr>
            <td><code>release_date</code> (string)</td>
            <td>Release date of the song in <code>YYYY-MM-DD</code> format.</td>
        </tr>
        <tr>
            <td><code>spotify</code> (string | null)</td>
            <td>URL to the track on Spotify, or <code>null</code> if not available.</td>
        </tr>
        <tr>
            <td><code>title</code> (string)</td>
            <td>Title of the song.</td>
        </tr>
        <tr>
            <td><code>ytmusic</code> (object | null)</td>
            <td>
                <details>
                    <summary>Object containing the YouTube Music information, or <code>null</code> if not available. If
                        available, contains:</summary>
                    <table>
                        <tr>
                            <td><code>id</code> (string)</td>
                            <td>ID of the song on YouTube Music.</td>
                        </tr>
                        <tr>
                            <td><code>url</code> (string)</td>
                            <td>URL to the track on YouTube Music.</td>
                        </tr>
                    </table>
                </details>
            </td>
        </tr>
    </tbody>
</table>

<p>
    <strong>Status Code:</strong> <code>404 NOT FOUND</code><br>
    <strong>Body:</strong> JSON object containing the following fields:
</p>

<h4>Schema</h4>
<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>error</code> (string)</td>
            <td>Error message describing the issue.</td>
        </tr>
    </tbody>
</table>

<h2>Example Response</h2>
<p>
    <strong>URL:</strong> <a href="https://yutify.onrender.com/api/Yorushika:Forget%20It"
        target="_blank"><code>/api/Yorushika:Forget It</code></a><br>
    <strong>Status Code:</strong> <code>200 OK</code><br>
</p>
<pre class="language-json">
<div class="code-block">
<code>
    {
        "album_art": "https://cdn-images.dzcdn.net/images/cover/168f0ec3c754188c51c7cb9bd99e859d/1000x1000-000000-80-0-0.jpg",
        "album_title": "Forget it",
        "album_type": "single",
        "artists": "Yorushika",
        "deezer": "https://www.deezer.com/track/2879136702",
        "deezer": {"id": "2879136702","url": "https://www.deezer.com/track/2879136702"},
        "itunes": "https://music.apple.com/us/album/forget-it/1765750815?i=1765752427&uo=4",
        "lyrics": null,
        "release_date": "2024-07-13",
        "spotify": null,
        "title": "Forget it",
        "ytmusic": {
            "id": "J_DE2d1F9wU",
            "url": "https://music.youtube.com/watch?v=J_DE2d1F9wU"
        }
    }
</code>
</div>
</pre>

<hr>

<p>
    <strong>URL:</strong> <a href="https://yutify.onrender.com/api/An%20Artist:%20A%20Song"
        target="_blank"><code>/api/An Artist:A Song</code></a><br>
    <strong>Status Code:</strong> <code>404 NOT FOUND</code><br>
</p>
<pre class="language-json">
<div class="code-block">
<code>
    {
        "error": "Couldn't find 'A Song' by 'An Artist'"
    }
</code>
</div>
</pre>
{% endblock %}
