{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<form action="/yutify" class="content">
    {% if artist %}
    <input autofocus type="search" name="artist" id="artist" placeholder="Enter artist name", value="{{ artist }}">
    {% else %}
    <input autofocus type="search" name="artist" id="artist" placeholder="Enter artist name">
    {% endif %}
    <section id="second-row">
        {% if song %}
        <input type="search" name="song" id="song" placeholder="Enter song name" value="{{ song }}">
        {% else %}
        <input type="search" name="song" id="song" placeholder="Enter song name">
        {% endif %}
        <button type="submit" id="search">Search</button>
    </section>
    <section class="result scroll-me">
        {% if yutify %}
        {{ yutify }}
        {% else %}
        <p>Do you like potatoes ... ?</p>
        {% endif %}
    </section>
</form>
{% endblock %}
