<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="Simple RESTful API for retrieving music info for various steaming platforms.">
    <meta name="author" content="Cheap Nightbot">
    <meta name="keywords" content="yutify, music, rest-api, api, python, flask, free-api, Cheap Nighbot">
    {% block metadata %}{% endblock %}
    <title>yutify: {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>

<body class="container-fluid">
    <nav id="main-nav" class="container-fluid">
        <ul>
            <li class="{% if active_page == 'home' %}active{% endif %}">
                <a data-tooltip="API Playground" data-placement="bottom" href="{{ url_for('main.index') }}">Home</a>
            </li>
            <li class="{% if active_page == 'docs' %}active{% endif %}">
                <a data-tooltip="API Docs" data-placement="bottom" href="{{ url_for('docs.index') }}">Docs</a>
            </li>
            {% if current_user.has_role('admin') %}
            <li class="{% if active_page == 'dashboard' %}active{% endif %}">
                <a data-tooltip="Admin Dashboard" data-placement="bottom"
                    href="{{ url_for('admin.dashboard') }}">Dashboard</a>
            </li>
            {% endif %}
        </ul>

        {% if current_user.has_role('admin') %}
        <ul id="nav-title-container-admin">
            {% else %}
            <ul id="nav-title-container">
                {% endif %}
                <li><a id="nav-title">{% block nav_title %}{% endblock nav_title %}</a></li>
            </ul>

            <ul>
                <li>
                    <a data-tooltip="Souce Code" data-placement="bottom" id="github"
                        href="https://github.com/CheapNightbot/yutify/" target="_blank">
                        <i class="fab fa-github rotate"></i>
                    </a>
                </li>
                <li>
                    <details class="dropdown">
                        <summary>Account&nbsp;</summary>
                        <ul dir="rtl">
                            {% if current_user.is_anonymous %}
                            <li><a href="{{ url_for_security('login') }}">Login</a></li>
                            <li><a href="{{ url_for_security('register') }}">Sign Up</a></li>
                            {% else %}
                            <li><a href="{{ url_for('user.user_profile', username=current_user.username) }}">Profile</a>
                            </li>
                            <li><a
                                    href="{{ url_for('user.user_settings', username=current_user.username) }}">Settings</a>
                            </li>
                            <li><a href="{{ url_for_security('logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </details>
                </li>
            </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div id="flashMessage" class="flash-message {{ category }}">
        <span role="alert">{{ message | safe }}</span>
        <button class="flash-close-btn"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <header class="container">
        {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <hr>

    <footer class="container">
        <p>&copy;{{ year }} Cheap Nightbot</p>
        <p><a href="https://github.com/CheapNightbot/yutify?tab=MIT-1-ov-file" target="_blank">MIT License</a></p>
        <p><a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a></p>
        <p><a href="{{ url_for('main.terms_of_service') }}">Terms of Service</a></p>
        <p>&lpar;〃￣ω￣〃ゞ</p>

        <button id="themeBtn" class="outline">
            <span id="theme-btn" class="material-symbols-outlined">dark_mode</span>
        </button>

    </footer>

    {% include "security/_menu.html" %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>
